body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para el header */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 50px;
	background-color: #155108;
	color: #fff;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	width: fit-content;
	margin-right: 20px;
	margin-left: auto;
	font-size: 25px;
}

nav li {
	margin: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* Estilos para la imagen del logo */
header img {
	width: 200px;
	height: 100px;
}

/* Estilos para el titulo */
.main_inicio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.section {
	background-image: url("../img/campo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 400px;
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo {
	text-align: center;
	color: black;
	margin-top: 200px;
}

.titulo h1{
	font-size: 40px;
}
/*estilos para el texto principal*/
.texto_principal {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	justify-content: space-around;
}

.imagen_texto img {
	display: flex;
	padding:50px ;
	max-width:50%;
}

.solo_texto {
	font-size: 22px;
	line-height: 1.5;
	flex-grow: 1;
	text-align: left;
	
}
/*Estilos para el pie de pagina*/

footer {
	flex-shrink: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom:10px;
	padding-top:15px;
	background-color: #ccc;
	text-align: center;
  }
  
  .rrss {
	display: flex;
	justify-content: space-evenly;
  }
  
  .rs {
	width: 60px;
	height: 60px;
  }
/*mapa*/
  .mapa {
	display: flex;
	justify-content: center;
	
	padding:50px;
  }

  .mail {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	padding: 40px;
	align-items: center; 
  }
  
  .mail img {
	max-width: 300px;
  }
  